html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-inline-start: 0;
}
p {
    margin: 0;
}
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper--gray{
    background-color: #F5F2F0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

.btn {
    text-align: center;
    text-transform: uppercase;
    color: #1c1d28;
    padding: 24px 64px;
    display: inline-block;
    background-color: $button;
    border-radius: 12px;
    transition: all 0.4s;
    &:hover {
        background: #f2c79b;
    }
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    color: $title;
}

.gradient-title{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
